.float-label {
    position: relative;
    // margin-bottom: 1em;
    margin: 0.5em 0;
    input {
      padding-top: 1em;
    }
    .label {
      font-size: 1em;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      inset-inline-start: 1em;
      top: 1em;
      transition: 0.2s ease all;
      background-color: #fff;
      padding: 0 0.5em;
    }
    &:focus,
    &.active {
      .label {
        top: -0.5em;
        font-size: 0.9em;
      }
    }
    &:focus-within {
      .label {
        color: #8e148e;
      }
    }
    &.disabled {
      * {
        pointer-events: none;
        cursor: not-allowed;
        color: #95989e;
      }
    }
  }
  